<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddArtServlet</servlet-name>
        <servlet-class>com.admin.servlet.AddArtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllArtsServlet</servlet-name>
        <servlet-class>com.admin.servlet.AllArtsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtCRUDServlet</servlet-name>
        <servlet-class>com.admin.servlet.ArtCRUDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userHomeServlet</servlet-name>
        <servlet-class>com.user.servlet.userHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewArtDetails</servlet-name>
        <servlet-class>com.servlet.ViewArtDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexbyCategoryServlet</servlet-name>
        <servlet-class>com.servlet.LandscapeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PortraitServlet</servlet-name>
        <servlet-class>com.servlet.PortraitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersDisplayServlet</servlet-name>
        <servlet-class>com.servlet.OrdersDisplayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddArtServlet</servlet-name>
        <url-pattern>/AddArtServlet</url-pattern>
        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllArtsServlet</servlet-name>
        <url-pattern>/admin/AllArtsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtCRUDServlet</servlet-name>
        <url-pattern>/ArtCRUDServlet</url-pattern>
        <url-pattern>/admin/edit</url-pattern>
        <url-pattern>/admin/updateArt</url-pattern>
        <url-pattern>/admin/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userHomeServlet</servlet-name>
        <url-pattern>/userHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewArtDetails</servlet-name>
        <url-pattern>/ViewArtDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandscapeServlet</servlet-name>
        <url-pattern>/LandscapeServlet</url-pattern>
        <url-pattern>/landscape</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PortraitServlet</servlet-name>
        <url-pattern>/PortraitServlet</url-pattern>
        <url-pattern>/portrait</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
        <url-pattern>/checkout</url-pattern>
      
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersDisplayServlet</servlet-name>
  
        <url-pattern>/admin/OrdersDisplayServlet</url-pattern>


    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
